/*CSS dos artigos*/

.artigo{
    padding: 1rem;
    overflow: auto;
    margin-bottom: 1rem;
}

.artigo:nth-child(even) {
    background: rgb(255, 230, 183);
}

.artigo:nth-child(odd) {
    background: rgb(255, 246, 228);
}

.artigo img{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 1rem;
}

.subtitulo{
    display: block;
    margin-bottom: 1rem;
    text-align: right;
    color: rgb(56, 56, 56);
    font-style: italic;

}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.col2{
    width: 100%;
    border-top: 3px dotted green;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#modal{
    display: none;
}

.modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body{
    text-align: center;
    background: #fff;
    padding: 1rem;
    max-width: 90%;
}

.modal-body img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px dotted #888;
    padding: .5rem;
}

span.close-modal{
    float: right;
    margin: -0.5rem -0.5rem 0 0;
}

hr{
    border: none;
    border-bottom: 1px dotted #888;
}

.modal-body h3{
    margin-bottom: 0;
}

.categorias{
    padding: .6rem;
    margin: 1rem 0;
    background: rgb(253, 218, 153);
}

/* Página responsiva em resoluções maiores que 640px */

@media (min-width: 640px) {
    .row {
        flex-direction: row;
    }
    .col1 {
        flex-grow: 1;
        padding-right: 1rem;
    }
    .col2 {
        width: 250px;
        padding-left: 1rem;
        border: 0;
        margin: 0;
        border-left: 3px dotted green;
    }
}
